<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--MyBatis 的 typeHandlers 元素-->
    <!--参考官方文档地址【http://www.mybatis.org/mybatis-3/zh/configuration.html#typeHandlers】-->

    <typeHandlers>
        <!--注册自定义的 typeHandler-->
        <typeHandler handler="com.zccoder.mybatis1.ch3.config.MyStringTypeHandler" jdbcType="VARCHAR" javaType="string"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.zccoder.mybatis1.ch3.config.enums.Sex"/>
        <typeHandler handler="com.zccoder.mybatis1.ch3.config.SexEnumTypeHandler" javaType="com.zccoder.mybatis1.ch3.config.enums.Sex"/>
    </typeHandlers>

</configuration>